<h1>Build Your Pirate And Ships Here!</h1>
<form action=“/pirates” method=“post”>
<h2>Pirate</h2>
 <label for=“name”>Pirate Name: </label><input id=“name” type=“text” name=“pirate[name]“><br>
 <label for=“weight”>Pirate Weight: </label><input id=“weight” type=“integer” name=“pirate[weight]“><br>
 <label for=“height”>Pirate Height: </label><input id=“height” type=“integer” name=“pirate[height]“><br>
 
 <input type=“submit” id=“Submit”>
</form>
