<h1>Welcome to the puppy adoption site</h1>
<form action=“/display_puppy” method=“post”>
 <label for=“name”>Name: </label><input id=“name” type=“text”><br>
 <label for=“age”>Age: </label><input id=“age” type=“integer”><br>
 <label for=“breed”>Breed: </label><input id=“breed” type=“text”><br>
 <input type=“submit” value=“submit”>
</form>
